body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}

/* ---------------------
      TYPOGRAPHY  
 ---------------------*/
p {
  margin: 0;
}

.page-title {
  text-align: center;
  margin: 5rem 0;
}

.item-description {
  font-weight: 700;
  padding-top: 200px;
}

.desciption-size,
.price {
  margin: 0;
}

.desciption-size {
  padding: 10px 0 0 0;
}
.price {
  padding-bottom: 15px;
}

.descriptive-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.size-title {
  margin-top: 0.7rem;
}

.size-measurement {
}
/* ---------------------
        LAYOUT  
 ---------------------*/

.size-selection {
  display: flex;
  flex-direction: column;
}

.select-size {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid 1px magenta; */
  width: 250px;
  text-align: center;
}

.sizes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sizes:last-child {
  margin: 0;
}

.sizes-2 {
  display: flex;
  justify-content: space-between;
}

.sizer {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}

.necklace,
.bracelet {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.bracelet {
  margin-bottom: 5rem;
}
.size {
  display: flex;
  flex-direction: column;
  background-color: #f4df20;
  height: 75px;
  width: 75px;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;collectie-knop
}

.products {
  display: flex;
  flex-direction: row;
  height: 550px;
  justify-content: space-between;
  align-items: ;
}

.item {
  text-align: center;
  width: 265px;
  height: 250px;
  border-radius: 1rem;
}

.spacing {
  margin-bottom: 5rem;
}

.item-1 {
  background: #f4df20;
}

.item-2 {
  background: #f4c620;
}

.item-3 {
  background: #57f420;
}

.item-4 {
  background: #20cef4;
}

.logo {
  background-color: #f4c620;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 125px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.nav-bar {
}

.shopname {
  display: flex;
  padding: 0 2rem;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px grey;
  padding: 0 0 1rem 0;
  margin-top: 2rem;
}

.menu-items {
  padding: 0 2rem;
}
.header-title {
  margin-right: 0.5rem;
  font-weight: 700;
}

.menu-button {
  margin-left: 0.4rem;
  cursor: pointer;
}

.title-main,
.title-sub {
  text-align: center;
}

.title-main {
  font-size: 6rem;
  margin: 6rem 0 0 0;
}

.title-sub {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.bottom-button {
  padding: 1rem 4rem;
  background-color: #f4df20;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.menu-bottom {
  text-align: center;
}

.measurement-info {
  display: flex;
  justify-content: space-between;
  background-color: #f4df20;
  /* border: solid 1px magenta; */
  width: 65%;
  padding: 0 1rem;
}

.informatie-beneden {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px red; */
}

.collectie-knop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4df20;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  cursor: pointer;
}

/* ---------------------
      PLACEHOLDERS  
 ---------------------*/

.image-placeholder {
  height: 400px;
  width: 100%;
  background: #f4df20;
}

.text-placeholder {
  text-align: center;
  margin-top: 300px;
  font-weight: 900;
}

.logo-placeholder {
  text-align: center;
  padding-top: 120px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  cursor: pointer;
}
